.dialog-close {
  background-color: white;
  border: none !important;
  outline: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.cursor {
  cursor: pointer;
}

i {
  color:  $color-black-medium
}

.toast-z-index {
  z-index: 1000;
}


.snacknbar-message {
  font-size: 14px;
}

