$color-white-plain: #fff;
$color-black-light: #9B9B9B;
$color-black-light-one: #DDDDDD;
$color-black-medium: #4A4A4A;
$color-black-dark: #333;
$color-blue-light: #8CAEC5;
$color-blue-medium: #8CA5C5;
$color-blue-light-one: #85A2B7;
$color-blue-light-two: #85ADC5;
$color-blue-medium-one: #8C9DC5;
$color-blue-light-three: #D1DFE8;
$color-red-light: #E88080;
$color-green-light: #48874A;
$color-white-medium: #F2F2F2;
$color-white-light: #E8EFF3;

$font-roboto-light: roboto-light, sans-serif;
$font-roboto-regular: roboto-regular, sans-serif;
$font-roboto-medium: roboto-medium, sans-serif;

$primary: #8caec5;
$dark: $color-black-medium
