<div class="row">
  <div class="col-1 align-self-center">
    <span class="pr-2">
      <i class="fa fa-check text-white" aria-hidden="true"></i>
    </span>
  </div>
  <div class="col-10 align-self-center">
    <div class="snacknbar-message">
      {{data.message}}
    </div>
  </div>
  <div class="col-1 align-self-start" (click)="close()">
    <span class="cursor">
      <i class="fa fa-times text-white"></i>
    </span>
    <!-- <div class="pt-2 cursor" (click)="close()">
      <i class="fa fa-times text-white"></i>
    </div> -->
  </div>
</div>
