<div class="message-modal">
  <div class="row align-items-center">
    <div class="col-md-6 col-sm-6 col">
      <h1 class="mb-0" mat-dialog-title>
        {{title}}
      </h1>
    </div>
    <div class="col-md-6 col-sm-6 col ">
      <button class="dialog-close btn-link float-right" [mat-dialog-close]="false">
        <i class="fa fa-times text-dark" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <hr>
  <div mat-dialog-content>
    <div class="row align-items-center">
      <div class="col-1 col-sm-1 col-md-1">
        <i class="fa fa-exclamation-triangle text-dark" aria-hidden="true"></i>
      </div>
      <div class="col-10 col-sm-10 col-md-10">
        <span>{{message}}</span>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="mt-3 justify-content-center">
    <button class="bg-dark text-white" mat-raised-button [mat-dialog-close]="true">Yes</button>
    <button class="bg-dark text-white" mat-raised-button [mat-dialog-close]="false">No</button>
  </div>
</div>
