.table-grid {
  th {
    background-color: #F2F2F2;
    color: #9B9B9B;
    font-family: $font-roboto-regular;
    font-size: 14px;
    font-weight: normal;
    border: none !important;
    button:focus {
      border: none !important;
      outline: none !important;
    }
  }
  td {
    color: $color-black-dark; //padding: 0.50rem;
    font-size: 13px;
    font-family: $font-roboto-light;
  }
  &.table {
    tr:last-child {
      border-bottom: 1px solid #ddd;
    }
  }
}

.mat-paginator-page-size div,
.mat-paginator-range-label {
  color: $color-black-dark;
  font-size: 13px;
  font-family: $font-roboto-light;
  @include media-breakpoint-down(sm) {
    margin: 0 2px !important;
  }
}
